body {
    margin: 0;
    padding: 0;
 }
 
 #background 
{ 
     left: 0px; 
     top: 0px; 
     position: relative; 
     margin-left: auto; 
     margin-right: auto; 
     width: 1920px;
     height: 3166px; 
     overflow: hidden;
     z-index:0;
    } 

 #BG 
{ 
     left: 0px; 
     top: 0px; 
     position: absolute; 
     width: 1920px;
     height: 3166px;
     z-index:1;
} 

 #Img 
{ 
     left: 0px; 
     top: 0px; 
     position: absolute; 
     width: 1920px;
     height: 650px;
     z-index:2;
} 

 #Overlay 
{ 
     left: -1px; 
     top: -2px; 
     position: absolute; 
     width: 1922px;
     height: 653px;
     z-index:3;
} 

 #Base 
{ 
     left: 835px; 
     top: 429px; 
     position: absolute; 
     width: 252px;
     height: 54px;
     z-index:4;
} 

 #GETAFREEQUOTETODAY 
{ 
     left: 853px; 
     top: 449px; 
     position: absolute; 
     width: 214px;
     height: 15px;
     z-index:5;
} 

 #Divider 
{ 
     left: 930px; 
     top: 162px; 
     position: absolute; 
     width: 63px;
     height: 6px;
     z-index:6;
} 

 #GetTheLowestMortgage 
{ 
     left: 553px; 
     top: 223px; 
     position: absolute; 
     width: 815px;
     height: 55px;
     z-index:7;
} 

 #Wewillhelpyoufindyou 
{ 
     left: 677px; 
     top: 310px; 
     position: absolute; 
     width: 569px;
     height: 51px;
     z-index:8;
} 

 #Base_0 
{ 
     left: -1px; 
     top: 648px; 
     position: absolute; 
     width: 962px;
     height: 153px;
     z-index:9;
} 

 #Base_1 
{ 
     left: 958px; 
     top: 648px; 
     position: absolute; 
     width: 3px;
     height: 153px;
     z-index:10;
} 

 #layer_299 
{ 
     left: 414px; 
     top: 693px; 
     position: absolute; 
     width: 111px;
     height: 40px;
     z-index:11;
} 

 #layer_12 
{ 
     left: 529px; 
     top: 696px; 
     position: absolute; 
     width: 16px;
     height: 12px;
     z-index:12;
} 

 #first6months 
{ 
     left: 428px; 
     top: 747px; 
     position: absolute; 
     width: 81px;
     height: 10px;
     z-index:13;
} 

 #Base_2 
{ 
     left: 959px; 
     top: 648px; 
     position: absolute; 
     width: 962px;
     height: 153px;
     z-index:14;
} 

 #layer_35 
{ 
     left: 1401px; 
     top: 693px; 
     position: absolute; 
     width: 78px;
     height: 40px;
     z-index:15;
} 

 #layer_16 
{ 
     left: 1482px; 
     top: 694px; 
     position: absolute; 
     width: 16px;
     height: 12px;
     z-index:16;
} 

 #mayvaryafter6months 
{ 
     left: 1370px; 
     top: 747px; 
     position: absolute; 
     width: 140px;
     height: 13px;
     z-index:17;
} 

 #Basecopy2 
{ 
     left: -1px; 
     top: 798px; 
     position: absolute; 
     width: 1922px;
     height: 400px;
     z-index:18;
} 

 #Proingravidanibhvelv 
{ 
     left: 582px; 
     top: 976px; 
     position: absolute; 
     width: 758px;
     height: 81px;
     z-index:19;
} 

 #Rectangle1 
{ 
     left: 929px; 
     top: 1101px; 
     position: absolute; 
     width: 62px;
     height: 4px;
     z-index:20;
} 

 #Advantages 
{ 
     left: 852px; 
     top: 901px; 
     position: absolute; 
     width: 216px;
     height: 26px;
     z-index:21;
} 

 #QualityMortgageRates 
{ 
     left: 788px; 
     top: 1124px; 
     position: absolute; 
     width: 344px;
     height: 12px;
     z-index:22;
} 

 #Basecopy16 
{ 
     left: -1px; 
     top: 1195px; 
     position: absolute; 
     width: 1922px;
     height: 584px;
     z-index:23;
} 

 #Rectangle4 
{ 
     left: 374px; 
     top: 1195px; 
     position: absolute; 
     width: 372px;
     height: 482px;
     z-index:24;
} 

 #Img_0 
{ 
     left: 375px; 
     top: 1197px; 
     position: absolute; 
     width: 370px;
     height: 479px;
     z-index:25;
} 

 #Rectangle3 
{ 
     left: 743px; 
     top: 1434px; 
     position: absolute; 
     width: 271px;
     height: 243px;
     z-index:26;
} 

 #MorbiAccumsan 
{ 
     left: 796px; 
     top: 1586px; 
     position: absolute; 
     width: 162px;
     height: 17px;
     z-index:27;
} 

 #VectorSmartObjectcop 
{ 
     left: 852px; 
     top: 1509px; 
     position: absolute; 
     width: 51px;
     height: 51px;
     z-index:28;
} 

 #Rectangle3copy 
{ 
     left: 1010px; 
     top: 1434px; 
     position: absolute; 
     width: 269px;
     height: 243px;
     z-index:29;
} 

 #CursusSitAmet 
{ 
     left: 1065px; 
     top: 1586px; 
     position: absolute; 
     width: 157px;
     height: 17px;
     z-index:30;
} 

 #VectorSmartObject 
{ 
     left: 1118px; 
     top: 1509px; 
     position: absolute; 
     width: 51px;
     height: 51px;
     z-index:31;
} 

 #Rectangle3copy_0 
{ 
     left: 1275px; 
     top: 1434px; 
     position: absolute; 
     width: 271px;
     height: 243px;
     z-index:32;
} 

 #LoremBibendum 
{ 
     left: 1325px; 
     top: 1586px; 
     position: absolute; 
     width: 171px;
     height: 17px;
     z-index:33;
} 

 #VectorSmartObject_0 
{ 
     left: 1383px; 
     top: 1509px; 
     position: absolute; 
     width: 54px;
     height: 51px;
     z-index:34;
} 

 #Rectangle3copy_1 
{ 
     left: 1275px; 
     top: 1195px; 
     position: absolute; 
     width: 271px;
     height: 243px;
     z-index:35;
} 

 #IpsumVelitAmet 
{ 
     left: 1328px; 
     top: 1348px; 
     position: absolute; 
     width: 168px;
     height: 22px;
     z-index:36;
} 

 #VectorSmartObject_1 
{ 
     left: 1383px; 
     top: 1270px; 
     position: absolute; 
     width: 57px;
     height: 51px;
     z-index:37;
} 

 #Rectangle3copy_2 
{ 
     left: 743px; 
     top: 1195px; 
     position: absolute; 
     width: 271px;
     height: 243px;
     z-index:38;
} 

 #ProinGravida 
{ 
     left: 810px; 
     top: 1347px; 
     position: absolute; 
     width: 134px;
     height: 17px;
     z-index:39;
} 

 #VectorSmartObject_2 
{ 
     left: 847px; 
     top: 1270px; 
     position: absolute; 
     width: 60px;
     height: 51px;
     z-index:40;
} 

 #Rectangle3copy_3 
{ 
     left: 1010px; 
     top: 1195px; 
     position: absolute; 
     width: 269px;
     height: 243px;
     z-index:41;
} 

 #ElitConsequat 
{ 
     left: 1072px; 
     top: 1347px; 
     position: absolute; 
     width: 144px;
     height: 22px;
     z-index:42;
} 

 #VectorSmartObject_3 
{ 
     left: 1117px; 
     top: 1270px; 
     position: absolute; 
     width: 54px;
     height: 51px;
     z-index:43;
} 

 #Img_1 
{ 
     left: 0px; 
     top: 1777px; 
     position: absolute; 
     width: 1920px;
     height: 720px;
     z-index:44;
} 

 #Overlay_0 
{ 
     left: -1px; 
     top: 1776px; 
     position: absolute; 
     width: 1922px;
     height: 722px;
     z-index:45;
} 

 #Base_3 
{ 
     left: 1010px; 
     top: 1845px; 
     position: absolute; 
     width: 536px;
     height: 584px;
     z-index:46;
} 

 #Base_4 
{ 
     left: 1174px; 
     top: 2325px; 
     position: absolute; 
     width: 172px;
     height: 54px;
     z-index:47;
} 

 #getmyquote 
{ 
     left: 1201px; 
     top: 2345px; 
     position: absolute; 
     width: 119px;
     height: 15px;
     z-index:48;
} 

 #Basecopy 
{ 
     left: 1060px; 
     top: 2256px; 
     position: absolute; 
     width: 436px;
     height: 43px;
     z-index:49;
} 

 #Layer1 
{ 
     left: 1478px; 
     top: 2272px; 
     position: absolute; 
     width: 7px;
     height: 10px;
     z-index:50;
} 

 #SelectMortgageType 
{ 
     left: 1073px; 
     top: 2272px; 
     position: absolute; 
     width: 139px;
     height: 13px;
     z-index:51;
} 

 #Basecopy_0 
{ 
     left: 1060px; 
     top: 2205px; 
     position: absolute; 
     width: 436px;
     height: 44px;
     z-index:52;
} 

 #Layer1_0 
{ 
     left: 1478px; 
     top: 2222px; 
     position: absolute; 
     width: 7px;
     height: 10px;
     z-index:53;
} 

 #SelectLoanAmount 
{ 
     left: 1073px; 
     top: 2222px; 
     position: absolute; 
     width: 131px;
     height: 10px;
     z-index:54;
} 

 #Basecopy_1 
{ 
     left: 1060px; 
     top: 2156px; 
     position: absolute; 
     width: 436px;
     height: 43px;
     z-index:55;
} 

 #State 
{ 
     left: 1073px; 
     top: 2172px; 
     position: absolute; 
     width: 39px;
     height: 10px;
     z-index:56;
} 

 #Basecopy_2 
{ 
     left: 1060px; 
     top: 2105px; 
     position: absolute; 
     width: 436px;
     height: 44px;
     z-index:57;
} 

 #ZIP 
{ 
     left: 1073px; 
     top: 2122px; 
     position: absolute; 
     width: 27px;
     height: 10px;
     z-index:58;
} 

 #Basecopy_3 
{ 
     left: 1060px; 
     top: 2046px; 
     position: absolute; 
     width: 436px;
     height: 43px;
     z-index:59;
} 

 #City 
{ 
     left: 1073px; 
     top: 2062px; 
     position: absolute; 
     width: 31px;
     height: 13px;
     z-index:60;
} 

 #Basecopy_4 
{ 
     left: 1060px; 
     top: 1995px; 
     position: absolute; 
     width: 436px;
     height: 44px;
     z-index:61;
} 

 #Phone 
{ 
     left: 1073px; 
     top: 2012px; 
     position: absolute; 
     width: 46px;
     height: 10px;
     z-index:62;
} 

 #Basecopy_5 
{ 
     left: 1060px; 
     top: 1946px; 
     position: absolute; 
     width: 436px;
     height: 43px;
     z-index:63;
} 

 #LastName 
{ 
     left: 1073px; 
     top: 1962px; 
     position: absolute; 
     width: 70px;
     height: 10px;
     z-index:64;
} 

 #Basecopy_6 
{ 
     left: 1060px; 
     top: 1895px; 
     position: absolute; 
     width: 436px;
     height: 44px;
     z-index:65;
} 

 #FirstName 
{ 
     left: 1073px; 
     top: 1912px; 
     position: absolute; 
     width: 71px;
     height: 10px;
     z-index:66;
} 

 #GetPreApprovedandClo 
{ 
     left: 375px; 
     top: 1931px; 
     position: absolute; 
     width: 439px;
     height: 118px;
     z-index:67;
} 

 #Divider_0 
{ 
     left: 374px; 
     top: 2077px; 
     position: absolute; 
     width: 62px;
     height: 4px;
     z-index:68;
} 

 #Fillouttheformandyou 
{ 
     left: 374px; 
     top: 2131px; 
     position: absolute; 
     width: 386px;
     height: 39px;
     z-index:69;
} 

 #Basecopy2_0 
{ 
     left: -1px; 
     top: 2495px; 
     position: absolute; 
     width: 1922px;
     height: 450px;
     z-index:70;
} 

 #Divider_1 
{ 
     left: 374px; 
     top: 2941px; 
     position: absolute; 
     width: 1172px;
     height: 5px;
     z-index:71;
} 

 #Proingravidanibhvelv_0 
{ 
     left: 582px; 
     top: 2673px; 
     position: absolute; 
     width: 758px;
     height: 81px;
     z-index:72;
} 

 #Rectangle1_0 
{ 
     left: 929px; 
     top: 2798px; 
     position: absolute; 
     width: 62px;
     height: 4px;
     z-index:73;
} 

 #AboutUs 
{ 
     left: 875px; 
     top: 2598px; 
     position: absolute; 
     width: 170px;
     height: 26px;
     z-index:74;
} 

 #Established1905 
{ 
     left: 902px; 
     top: 2821px; 
     position: absolute; 
     width: 118px;
     height: 10px;
     z-index:75;
} 

 #Basecopy2_1 
{ 
     left: -1px; 
     top: 2942px; 
     position: absolute; 
     width: 1922px;
     height: 225px;
     z-index:76;
} 

 #123FifthAvenueNewYor 
{ 
     left: 375px; 
     top: 3061px; 
     position: absolute; 
     width: 156px;
     height: 13px;
     z-index:77;
} 

 #Direct 
{ 
     left: 375px; 
     top: 3087px; 
     position: absolute; 
     width: 37px;
     height: 9px;
     z-index:78;
} 

 #layer_333444555 
{ 
     left: 418px; 
     top: 3087px; 
     position: absolute; 
     width: 77px;
     height: 9px;
     z-index:79;
} 

 #TollFree 
{ 
     left: 534px; 
     top: 3086px; 
     position: absolute; 
     width: 54px;
     height: 10px;
     z-index:80;
} 

 #layer_1333444555 
{ 
     left: 595px; 
     top: 3087px; 
     position: absolute; 
     width: 90px;
     height: 9px;
     z-index:81;
} 

 #Divider_2 
{ 
     left: 513px; 
     top: 3085px; 
     position: absolute; 
     width: 4px;
     height: 12px;
     z-index:82;
} 

 #Fax 
{ 
     left: 726px; 
     top: 3087px; 
     position: absolute; 
     width: 22px;
     height: 9px;
     z-index:83;
} 

 #layer_333444666 
{ 
     left: 754px; 
     top: 3087px; 
     position: absolute; 
     width: 78px;
     height: 9px;
     z-index:84;
} 

 #Divider_3 
{ 
     left: 704px; 
     top: 3085px; 
     position: absolute; 
     width: 3px;
     height: 12px;
     z-index:85;
} 

 #UABBBank 
{ 
     left: 375px; 
     top: 3014px; 
     position: absolute; 
     width: 111px;
     height: 17px;
     z-index:86;
} 

 #DisclaimerAllloansar 
{ 
     left: 974px; 
     top: 3034px; 
     position: absolute; 
     width: 558px;
     height: 65px;
     z-index:87;
} 

 #Columns 
{ 
     left: 375px; 
     top: 0px; 
     position: absolute; 
     width: 1170px;
     height: 5850px;
     z-index:88;
} 